<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="serverProviders" name="Server Providers" schema="schema/serverProviders.exsd"/>
   <extension-point id="packageManagers" name="Package Managers" schema="schema/packageManagers.exsd"/>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.nmox.studio.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.core.resources.natures">
      <nature
            id="com.nmox.studio.core.webNature"
            name="Web Project Nature">
         <runtime>
            <run
                  class="com.nmox.studio.core.nature.WebProjectNature">
            </run>
         </runtime>
      </nature>
   </extension>
</plugin>